---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Prose from '../../components/Prose.astro';
import { getPostDateText } from '../../helpers/date';

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => {
    return {
      params: { slug: post.id },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);

const tags = post.data.tags ?? [];
---

<BaseLayout title={post.data.title}>
  <div class="pb-20">
    <div class="mb-6 flex items-end justify-between">
      <h1 class="text-3xl font-bold">{post.data.title}</h1>
      <div class="ml-2 flex flex-col items-end py-1 text-sm">
        <div class="flex gap-1">
          {
            tags.map((tag) => (
              <a href={`/tags/${tag}`} class="text-blue-400">{`#${tag}`}</a>
            ))
          }
        </div>
        <p>{getPostDateText(post)}</p>
      </div>
    </div>
    <Prose>
      <Content />
    </Prose>
  </div>
</BaseLayout>
